<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <img *ngIf="form.get('imageSrc').value" [src]="form.get('imageSrc').value" class="avatar mr-5">

    <h2 *ngIf="form.get('firstName').value || form.get('lastName').value"
        class="headline m-0 flex-auto">{{ form.get('firstName').value + ' ' + form.get('lastName').value }}</h2>
    <h2 *ngIf="!form.get('firstName').value && !form.get('lastName').value"
        class="headline m-0 flex-auto">New Customer</h2>

    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>First Name</mat-label>
        <input cdkFocusInitial formControlName="firstName" matInput>

        <mat-icon class="mr-3" matPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName" matInput>

        <mat-icon class="mr-3" matPrefix svgIcon="mat:person"></mat-icon>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="ROLE_RECRUITER">Recruiter</mat-option>
          <mat-option value="ROLE_CANDIDATE">Candidate</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-icon class="ltr:mr-3 rtl:ml-3" matPrefix svgIcon="mat:email"></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Civility</mat-label>
        <mat-select formControlName="civility">
          <mat-option value="MR">Mr</mat-option>
          <mat-option value="MME">Mme</mat-option>
          <mat-option value="MELLE">Melle</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput>
        <mat-icon class="mr-3" matPrefix svgIcon="mat:edit_location"></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput>

      <mat-icon class="mr-3" matPrefix svgIcon="mat:phone"></mat-icon>
    </mat-form-field>

    <label> Complains</label>
    <mat-accordion class="mb-6" *ngIf="repports.length>0;else emptyComplains">
      <mat-expansion-panel hideToggle *ngFor="let report of repports">
        <mat-expansion-panel-header>
          <mat-panel-title>
            reported by : {{report?.reporter?.firstname}} {{report?.reporter?.lastname}}
          </mat-panel-title>
          <mat-panel-description>
            {{report?.createdAt|date}}
            <mat-icon svgIcon="mat:delete" (click)="deleteReport(report.id)" style="color: red ;position: absolute;
    right: 6px;"></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <label style="font-weight: bold">raison:</label>
        <p class="pb-3"> {{report?.reason}}</p>
        <label *ngIf="report.screenshot" style="font-weight: bold;">screenshot:</label>
        <img *ngIf="report.screenshot" [src]="baseUrl+report?.screenshot?.fileUrl" class="pt-3" alt="screenshot"
             width="400" height="300" style="object-fit: cover">
      </mat-expansion-panel>
    </mat-accordion>
    <ng-template #emptyComplains style="margin-top: 30px">
      <div class="flex-auto"></div>
      <h2 style="font-weight: bolder;margin-left: 40%">Empty</h2>
      <img src="assets/img/illustrations/undraw_blog_post_re_fy5x.svg" style="margin-left: 20%" alt="empty" height="270"
           width="300">
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isCreateMode()" color="primary" mat-flat-button type="submit">Create Customer</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-flat-button type="submit">Update Customer</button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item *ngIf="!isBanned" (click)="banUser()">
    <mat-icon svgIcon="mat:block"></mat-icon>
    <span>Banned</span>
  </button>
  <button mat-menu-item *ngIf="isBanned" (click)="unBannUser()">
    <mat-icon svgIcon="mat:block"></mat-icon>
    <span>Unbanned</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
