<div [class.container]="isVerticalLayout$ | async" class="toolbar w-full px-gutter flex items-center">
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [class.hidden]="mobileQuery"></vex-navigation>
