<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>{{data.reporterID}}</span>
    <span matLine>ID</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>{{data.reporterName}}</span>
    <span matLine>Name</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>{{data.reporterRole}}</span>
    <span matLine>Role</span>
  </a>
</mat-nav-list>
