<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <img *ngIf="contact?.imageSrc" [src]="contact?.imageSrc" class="avatar ltr:mr-5 rtl:ml-5"/>
    <h2 class="headline m-0 flex-auto">{{ form.get('reporterName').value || 'Reporter name' }}</h2>
    <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <mat-form-field class="mt-6"
                    (click)="openBottomSheet(form.get('reporterId').value,form.get('reporterName').value,form.get('reporterRole').value)">
      <mat-label>Reporter</mat-label>
      <input formControlName="reporterName" matInput>

      <mat-icon class="ltr:mr-3 rtl:ml-3" matPrefix svgIcon="mat:person"></mat-icon>
    </mat-form-field>
    <mat-form-field class="mt-6"
                    (click)="openBottomSheet(form.get('reportedId').value,form.get('reportedName').value,form.get('reportedRole').value)">
      <mat-label>Reported User</mat-label>
      <input formControlName="reportedName" matInput>

      <mat-icon class="ltr:mr-3 rtl:ml-3" matPrefix svgIcon="mat:person"></mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Reason</mat-label>
      <textarea formControlName="reason" matInput></textarea>
    </mat-form-field>
    <div *ngIf="screenshot">
      <label>Screenshot</label>
      <img [src]="baseUrl+screenshot">
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button color="accent" mat-flat-button type="submit" (click)="deleteReport(form.get('id').value)">
      <ng-container>Delete report</ng-container>
    </button>
  </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="deleteReport(form.get('id').value)">
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
